extends layout

block content
  .container
    .row
      h1 Contact Us
      form(action="contact/send" method="post")
        .form-group
          label Name
          input.form-control(type="text" name="name" placeholder="Enter Name")
          label Email
          input.form-control(type="text" name="email" placeholder="Enter Email")
          label Message
          textarea.form-control(type="text" name="message" placeholder="Enter Message")
          button.btn.btn-primary(type="submit") Submit

      hr
      footer
        p.text-center © 2016 pixeloon, Inc.